<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html" charset="utf-8">
    <meta property="og:title" content="{{title}}">
    <meta property="og:site_name" content="{{title}}">
    <meta property="og:description" content="生長在台灣的我們，很少從一個宏觀的角度看整個台灣的經濟、法律、交通、教育... ，而我們相信數據可以幫我們更了解我們身長在的這片土地上的一切。">
    <meta property="og:image" content="http://i.imgur.com/04AFcnA.png">
    <meta property="og:image:type" content="image/jpg">
    <meta property="og:image:width" content="300">
    <meta property="og:image:height" content="300">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://storage.googleapis.com/code.getmdl.io/1.0.2/material.indigo-pink.min.css" async>
    <script src="https://storage.googleapis.com/code.getmdl.io/1.0.2/material.min.js" async></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" async>
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link rel="icon" type="image/png" href="/favicon.ico">
    <link rel="stylesheet" href="bower_components/semantic/dist/semantic.min.css" type="text/css" media="all" async>
    <link rel="stylesheet" href="css/style.css" type="text/css" media="screen" title="no title" charset="utf-8">
    <title>{{title}}</title>
</head>
<body>
  {{> header}}
  {{> start}}
      {{# each page }}
      <a class="image" href="{{url}}" target="_parent" onclick="pageOnclick()">
        <div class="mdl-card mdl-shadow--2dp demo-card-wide">
          <div class="mdl-card__title" style="background: url('{{img}}') center / cover;">
            <h2 class="mdl-card__title-text">{{title}}</h2>
          </div>
          <div class="mdl-card__supporting-text">
            {{description}}
          </div>
        </div>
      </a>
      {{/each}}
    </main>
  </div>
  {{> end}}
  {{> footer}}
</body>
</html>
